<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edward.cs48.houserules">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivities.AuthenticationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.edward.cs48.houserules.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.AUTHENTICATION" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBSJPjjnjazMzwlfQSECSvrTvi1DIqi3V8" />

        <activity
            android:name=".EventActivities.CreateEventActivity"
            android:parentActivityName="com.edward.cs48.houserules.MainActivity" >
        </activity>
        <activity
            android:name=".EventActivities.MyEventsActivity"
            android:parentActivityName="com.edward.cs48.houserules.MainActivity" >
        </activity>
        <activity
            android:name=".EventActivities.MyInvitesActivity"
            android:parentActivityName="com.edward.cs48.houserules.MainActivity" >
        </activity>
    </application>

</manifest>